name: Publish package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies and build
        run: |
          npm ci
          npm run build
          cp ../README.md .
          cp ../LICENSE .
        working-directory: ./package

      - name: Publish on main
        if: "!contains(github.ref_name, 'canary')"
        run: |
          npm set //registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}
          npm publish --access public
        working-directory: ./package

      - name: Publish on canary
        if: contains(github.ref_name, 'canary')
        run: |
          npm set //registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}
          npm version --no-git-tag-version ${{github.ref_name}}
          npm publish --tag canary --access public
        working-directory: ./package
